body {
    background-color: #283149;
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 3px 0 #da0463;
    margin-top: 50px;
    font-size: 80px;
    font-family: 'Arov', cursive;
}

.kit {
    margin-top: 140px;
    margin-left: 20px;
}

#drum {
    color: #da0463;
    text-shadow: 3px 0 white;
    font-family: 'Arov', cursive;
    font-weight: 900;
    font-size: 70px;
    height: 140px;
    width: 140px;
    margin-right: 30px;
    border-radius: 20%;
    border-color: rgb(64, 75, 105);
    border-width: 10px;
    border-right-color: #283149;
    border-bottom-color: #283149;
}

footer {
    margin-top: 145px;
    font-size: large;
}

.w {
    background-image: url("images/tom1.png");
}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}

.k {
    background-image: url("images/crash.png");
}

.l {
    background-image: url("images/kick.png");
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.6;
}